<!-- <div>
   <div class="min-h-screen rounded-2xl border border-gray-200 bg-white px-5 py-7 dark:border-gray-800 dark:bg-white/[0.03] xl:px-10 xl:py-12">
    <div class="mx-auto w-full max-w-[630px] text-center">
      <h3 class="mb-4 font-semibold text-gray-800 text-theme-xl dark:text-white/90 sm:text-2xl">
        Card Title Here
      </h3>

      <p class="text-sm text-gray-500 dark:text-gray-400 sm:text-base">
        Start putting content on grids or panels, you can also use different
        combinations of grids.Please check out the dashboard and other pages
      </p>
    </div>
  </div>
</div> -->
<div class="relative isolate px-6 pt-14 lg:px-8 
            bg-white dark:bg-gray-900 text-gray-900 dark:text-white">
  
  <!-- Top gradient shape -->
  <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
    <div style="clip-path: polygon(
    74.1% 44.1%, 
    100% 50%, 
    97% 100%, 
    50% 90%, 
    0% 100%, 
    3% 50%, 
    26% 16%, 
    74.1% 44.1%
);" 
     class="relative left-[calc(50% - 11rem)] aspect-[1155/678] w-[144.5rem] -translate-x-1/2 rotate-30
            bg-gradient-to-tr from-pink-200 to-indigo-400 opacity-30
            dark:from-pink-800 dark:to-indigo-700 dark:opacity-50
            sm:left-[calc(50% - 30rem)] sm:w-[288.75rem]">
</div>

  </div>

  <!-- Hero content -->
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56 text-center">
    <h1 class="text-5xl sm:text-7xl font-extrabold tracking-tight
               text-gray-900 dark:text-white">
      Data to enrich your online business
    </h1>
    <p class="mt-6 text-lg sm:text-xl text-gray-500 dark:text-gray-300">
      Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="#" class="rounded-md px-3.5 py-2.5 text-sm font-semibold
                        bg-indigo-600 hover:bg-indigo-500 text-white
                        dark:bg-indigo-500 dark:hover:bg-indigo-400">
        Get started
      </a>
      <a href="#" class="text-sm font-semibold text-gray-900 dark:text-white">
        Learn more <span aria-hidden="true">→</span>
      </a>
    </div>
  </div>

  <!-- Bottom gradient shape -->
  <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
    <div style="clip-path: polygon(
  74.1% 44.1%, 
  100% 50%, 
  97% 100%, 
  50% 90%, 
  0% 100%, 
  3% 50%, 
  26% 16%, 
  74.1% 44.1%
);" 
     class="relative left-[calc(50% + 3rem)] aspect-[1155/678] w-[144.5rem] -translate-x-1/2
            bg-gradient-to-tr from-pink-200 to-indigo-400 opacity-30
            dark:from-pink-800 dark:to-indigo-700 dark:opacity-50
            sm:left-[calc(50% + 36rem)] sm:w-[288.75rem]">
</div>

  </div>
</div>


